<template>
  <div class="bg-blue-900  md:grid grid-cols-2">
    <div class="" >
      <img src="/1.jpg" alt="" class="w-40 h-auto mx-auto  rounded-full top-10 relative " />

      <div class="bg-red-100 mt-16 mb-8 w-72 h-40 mx-auto leading-loose">
        <h4 class="text-center text-blue-800 font-bold mt-2">
          sahebeh sadollahi
        </h4>
        <p class="text-center capitalize">front end developer</p>
        <nuxt-link to="#"><p
              class="
              text-center text-black-100
              font-bold
              hover:opacity-75 hover:underline
            "
          >
            sadollahi7264@gmail.com
          </p></nuxt-link
        >
        <nuxt-link to="#"
          ><p
            class="
              text-center
              font-bold
              uppercase
              text-blue-600
              shadow
              hover:opacity-75 hover:underline
            "
          >
            download rezome
          </p></nuxt-link
        >
        <div class="grid grid-cols-4 ml-16 ">

<nuxt-link to="#"><img src="/5279112_camera_instagram_social media_instagram logo_icon.png"  class="w-4 mt-2"></nuxt-link>
<nuxt-link to="#"><img src="/4747499_github_icon.png"  class="w-4 mt-2"></nuxt-link>
<nuxt-link to="#"><img src="/5279121_call_chat_messenger_whatsapp_whatsapp logo_icon.png"  class="w-4 mt-2"></nuxt-link>
<nuxt-link to="#"><img src="7693324_telegram_social media_logo_messenger_icon.png"  class="w-4 mt-2 "></nuxt-link>




</div>
      </div>
    </div>

    <div class=" mt-16 ">
      <h class="font-bold text-white justify-center text-2xl relative  bottom-2  flex cursor-auto"
        >Hi, my name is

        <h1
          class="
            italic
            text-white
            mt-2
            ml-4
            cursor-auto
            leading-3
            tracking-tighter
            font-bold
            text-4xl
            font-serif
            hover:text-red-500
          "
        >
          sahebeh
        </h1>
      </h>
      <p class="font-bold leading-10 text-center tracking-normal text-white">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam itaque
        iusto nulla vel necessitatibus ipsa in cupiditate, ab fugit sed, sit
        blanditiis mollitia qui sapiente odio molestiae ratione consequuntur
        laboriosam quibusdam eos. Unde odio harum soluta totam, ad minima id
        voluptates necessitatibus labore voluptate? Velit nihil laboriosam atque
        similique sunt?
      </p>
      <div class="mt-16 ">
        <button
          class="
            capitalize
            m-2
            px-4
            py-2
            text-white
            bg-pink-500
            rounded
            font-bold
          "
        >
          view profile
        </button>
        <button
          class="
            capitalize
            m-2
            px-4
            py-2
            rounded
            border-2 border-red-400
            text-red-400
            font-bold
          "
        >
          contact me
        </button>
      </div>
    </div>


  </div>
</template>
