<template>
  <div class="bg-green-300 ">
    <div
      class=" w-1/5 hidden h-full bg-green-700 absolute top-14 right-0"
    >
      <ul>
        <li>
          <nuxt-link to="/">home</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/about">about</nuxt-link>
        </li>
        <li><nuxt-link to="/">contant</nuxt-link></li>
        <li><nuxt-link to="/">works</nuxt-link></li>
      </ul>
    </div>

    <div>
      <h1 class="p-8 text-6xl text-center font-bold text-white underline">
        Services
      </h1>
    </div>
    <div
      class="
        grid grid-cols
        md:grid-cols-2
        lg:grid-cols-3
        gap-4
        md:gap-4
        p-4
        mx-auto
      "
    >
      <div class="mb-4 bg-green-100 text-center relative">
        <img src="/9355996.png" alt="" class="w-16 absolute -top-8" />
        <h1 class="text-center text-blue-900 font-bold text-xl italic mt-4">
          Accessibility
        </h1>
        <p class="text-center ml-4 mr-4 mb-2 mt-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum iure
          eos sit necessitatibus obcaecati ipsa itaque quisquam sapiente
          praesentium voluptas repellendus, voluptates ab ea ut aspernatur
          nobis. Voluptatem iste dolores aspernatur perspiciatis amet, odio
          magni!
        </p>
      </div>

      <div class="mb-4 bg-green-100 relative">
        <img
          src="/6140894_design_graphic_pencil_ruler_tool_icon.png"
          alt=""
          class="w-16 absolute -top-8"
        />
        <h1 class="text-center font-bold text-xl text-blue-900 italic mt-4">
          Design
        </h1>
        <p class="text-center ml-4 mr-4 mb-2 mt-2">
          Lorem, ipsum dolor sit amet consectetur adipisicig elit. Harum iure
          eos sit necessitatibus obcaecati ipsa itaque quisquam sapiente
          praesentium voluptas repellendus, voluptates ab ea ut aspernatur
          nobis. Voluptatem iste dolores aspernatur perspiciatis amet, odio
          magni!
        </p>
      </div>

      <div class="mb-4 bg-green-100 relative">
        <img
          src="/8541771_code_development_icon.png"
          alt=""
          class="w-16 absolute -top-8"
        />
        <h1 class="text-center font-bold text-xl text-blue-900 italic mt-4">
          Development
        </h1>
        <p class="text-center ml-4 mr-4 mb-2 mt-2">
          Lorem, ipsum dolor sit amet consectetur adipisicig elit. Harum iure
          eos sit necessitatibus obcaecati ipsa itaque quisquam sapiente
          praesentium voluptas repellendus, voluptates ab ea ut aspernatur
          nobis. Voluptatem iste dolores aspernatur perspiciatis amet, odio
          magni!
        </p>
      </div>
    </div>
  </div>
</template>
