<template>
  <div class="bg-blue-900 text-center p-4 md:grid grid-cols-2">
    <!-- <div class="text-center relative items-center justify-center top-10">
     <div>
 <h1
        class="
          font-bold
          text-2xl
          underline
          text-white text-center
          leading-loose
        "
      >
        Skills
      </h1>
     </div>
     <div>
 <p class="font-normal text-white mt-4 text-center">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, iste
        quas ratione tempora quisquam sunt aspernatur fugiat accusantium nisi,
        aut nemo excepturi? Temporibus eveniet corrupti earum doloremque
        eligendi pariatur repudiandae commodi totam dolores, nisi repellat
        dolorum libero quibusdam autem rerum eum, porro cumque laudantium. Nulla
        sapiente nihil omnis temporibus ut, repudiandae vitae illo repellendus
        veritatis cum fugiat ea, suscipit tempore necessitatibus consequatur
        maiores repellat numquam!
      </p>
     </div>
      <div>
<button
        class="
          capitalize
          m-2
          px-4
          py-2
          text-white
          bg-pink-500
          rounded
          font-bold
          captalize

          items-center
          justify-center
        "
      >
        learn more
      </button>
      </div>
    </div> -->

    <div>
      <div><h1 class="font-bold text-2xl text-white mb-4 underline">Skills</h1></div>
      <div>
        <p class="leading-loose tracking-tight text-white">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, iste
          quas ratione tempora quisquam sunt aspernatur fugiat accusantium nisi,
          aut nemo excepturi? Temporibus eveniet corrupti earum doloremque
          eligendi pariatur repudiandae commodi totam dolores, nisi repellat
          dolorum libero quibusdam autem rerum eum, porro cumque laudantium.
          Nulla sapiente nihil omnis temporibus ut, repudiandae vitae illo
          repellendus veritatis cum fugiat ea, suscipit tempore necessitatibus
          consequatur maiores repellat numquam!
        </p>
      </div>
      <div>
        <button class="px-3 py-3 rounded-2xl bg-red-500 capitalize mt-8">
          learn more
        </button>
      </div>
    </div>

    <div class="mt-16 leading-10 md:mt-4">
      <div>
        <div><h1 class="text-white">html/css javascript</h1></div>
        <div class="w-3/5 h-6 border-2 bg-green-500 mx-auto"></div>
      </div>

      <div>
        <div><h1 class="text-white">css frameworks</h1></div>
        <div class="w-4/5 h-6 border-2 bg-green-700 mx-auto"></div>
      </div>

      <div>
        <div><h1 class="text-white">vue.js</h1></div>
        <div class="w-2/5 h-6 border-2 bg-green-200 mx-auto"></div>
      </div>

      <div>
        <div><h1 class="text-white">contact management</h1></div>
        <div class="w-4/5 h-6 border-2 bg-green-700 mx-auto"></div>
      </div>
    </div>
  </div>
</template>
