<template>
  <div class="w-full h-auto bg-pink-500 grid grid-cols-2">
    <p class="justify-start p-4 ml-8 font-bold text-white flex justify-between">
      sahebeh sadollahi
    </p>
    <div class="grid grid-cols-4 ">
      <nuxt-link to="#"
        ><img
          src="/5279112_camera_instagram_social media_instagram logo_icon.png"
          class="w-5 mt-6 "
      ></nuxt-link>
      <nuxt-link to="#"
        ><img src="/4747499_github_icon.png" class="w-5 mt-6 "
      ></nuxt-link>
      <nuxt-link to="#"
        ><img
          src="/5279121_call_chat_messenger_whatsapp_whatsapp logo_icon.png"
          class="w-5 mt-6 "
      ></nuxt-link>
      <nuxt-link to="#"
        ><img
          src="7693324_telegram_social media_logo_messenger_icon.png"
          class="w-5 mt-6"
      ></nuxt-link>
    </div>
  </div>
</template>

<script>
</script>
