<template>
  <div>
    <div class="bg-green-700 text-white p-4 grid grid-col-2">
      <ul class="col-start-2 container hidden md:flex">
        <li class="mr-16 hover:underline hover:text-black">
          <nuxt-link to="/">home</nuxt-link>
        </li>
        <li class="mr-16 hover:underline hover:text-black">
          <nuxt-link to="/About">about</nuxt-link>
        </li>
        <li class="mr-16 hover:underline hover:text-black">
          <nuxt-link to="#">works</nuxt-link>
        </li>
        <li class="mr-16 hover:underline hover:text-black">
          <nuxt-link to="#">contact</nuxt-link>
        </li>
      </ul>

      <div class="justify-self-end relative" @click="submit">
        <nuxt-link to="#" @click="submit">
<img src="/2561466_menu_icon.png" class="w-10 h-auto md:hidden"/>

        </nuxt-link>
      </div>
    </div>
  </div>
</template>
<style>
</style>

